
body {
    background-color: #fdfaf5;
    color: #2c3e50;
    font-family: Georgia, "Times New Roman", serif;
    margin: 0;
}

main,
.container {
    width: 800px;
    margin: 0 auto;
}

.conteudo {
    padding: 20px;
}

a:link {
    color: #2980b9;
}

a:visited {
    color: #2980b9;
}

a:active {
    color: #b8860b;
}

a:hover {
    color: #b8860b;
}


h1,
h2,
h3 {
    font-family: Georgia, "Times New Roman", serif;
    color: #b8860b;
}

.titulo-principal {
    font-size: 42px;
    text-align: center;
    margin: 20px 0;
}

.subtitulo {
    color: #b8860b;
}

hr {
    border: 0;
    border-top: 2px solid #b8860b;
}


.centralizado {
    text-align: center;
}


.texto {
    font-size: 18px;
    text-align: justify;
}


.imagem-mitologica {
    display: block;
    margin: 15px auto;
    border: 3px solid #b8860b;
}


.tabela-deuses {
    width: 100%;
    border-collapse: collapse;
}

.tabela-deuses th,
.tabela-deuses td {
    border: 1px solid #b8860b;
    padding: 5px;
    text-align: center;
}

.tabela-deuses th {
    background-color: #b8860b;
    color: white;
}

.tabela-deuses .cabecalho-secundario {
    background-color: #e0d6c8;
    color: #2c3e50;
}


fieldset {
    border: 2px solid #b8860b;
}

input,
select {
    font-family: Georgia, "Times New Roman", serif;
}
